body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input {
  padding: 8px;
  margin: 5px;
}
