body {
  font-family: Arial, sans-serif;
  background: #222;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

canvas {
  background: #000;
  margin: 10px auto;
  display: block;
  border: 2px solid #555;
}

input, button {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}
