body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

canvas {
  background: black;
  display: block;
  margin: 20px auto;
  border: 2px solid cyan;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

#mobileControls {
  margin: 10px;
}

#mobileControls button {
  font-size: 20px;
  width: 60px;
}
